# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
*.pyc

# Node
node_modules/
.env.local
.env.development.local
npm-debug.log
yarn-error.log

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MongoDB
mongo_data/