version: '2'
services:
  api:
    build: .
    container_name: api
    command: bash -c "cd /src/rest && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    links:
      - mongo

  app:
    build: .
    container_name: app
    command: bash -c "cd /src/app && HOST=0.0.0.0 npm start"
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - WDS_SOCKET_PORT=0

  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    command: mongod --bind_ip 0.0.0.0
